{% extends "MoviesBackOfficeBundle::layout.html.twig" %}

{%block title%}{{parent()}} - Ajouter un acteur{%endblock%}

{% block arianne %}
	{{ parent() }}
	<img height="15px" src="{{asset('images/arrow.png')}}"/> <a href="{{ path('movies_back_office_addActeur') }}">Ajouter un acteur</a>
{% endblock %}

{%block section%}

	{% for msg in app.session.flashbag.get('notice') %}
		{% if msg is not empty %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>
				{{ msg }}
			</div>
		{% endif %}
	{% endfor %}

<h1>Ajouter un acteur</h1>

 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	 <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nom) }}
	   <div class="col-sm-3">
      	{{ form_widget(form.nom,  {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	<div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.prenom) }}
 	 	 <div class="col-sm-3">
     		 {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
     	 </div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.file, "Portrait", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.file) }}
 	 	 <div class="col-sm-3">
			{{ form_widget(form.file, {'attr' : {'title' : 'Parcourir...'}}) }}
     	 </div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.biographie, "Biographie", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.biographie) }}
	  <div class="col-sm-3">
     	 {{ form_widget(form.biographie, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-10">
    		{{ form_widget(form.Ajouter,{'attr': {'class': 'btn btn-default'}}) }}
    	</div>
    </div>
 {{ form_end(form) }}
{%endblock%}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/moviesbackoffice/js/multiselect.js') }}"></script>
{% endblock %}
