{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesmovies/movies.css')}}"> 

{%endblock%}

{%block title%}{{parent()}} - Ajouter un acteur{%endblock%}

{% block arianne %}
	{{ parent() }}
	<img height="15px" src="{{asset('images/arrow.png')}}"/>
	<a href="{{ path('movies_back_office_homepage') }}">Administration</a>
	<img height="15px" src="{{asset('images/arrow.png')}}"/> <a href="{{ path('movies_back_office_addActeur') }}">Ajouter un acteur</a>
{% endblock %}

{%block section%}
<h1>Ajouter un acteur</h1>

{%endblock%}
