{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesmovies/movies.css')}}"> 

{%endblock%}

{%block title%}{{parent()}} - Administration{%endblock%}

{% block arianne %}
	{{ parent() }}
	<img height="15px" src="{{asset('images/arrow.png')}}"/> Administration
{% endblock %}

{%block section%}
<h1>Administration</h1>
{%endblock%}
