{% extends "MoviesBackOfficeBundle::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesmovies/movies.css')}}"> 

{%endblock%}

{% block arianne %}
	{{ parent() }}
	<img height="15px" src="{{asset('images/arrow.png')}}"/> <a href="{{ path('movies_back_office_homepage') }}">Administration</a>
{% endblock %}

{% block aside %}
{% endblock %}

{%block section%}
{{ parent() }}

<div class="list-group">
	<a href="{{ path('movies_back_office_addActeur') }}" class="list-group-item">Ajouter un acteur</a>
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Ajouter un film</a>
	<a href="{{ path('movies_back_office_addRealisateur') }}" class="list-group-item">Ajouter un réalisateur</a>
</div>

{%endblock%}

