{% extends "MoviesBackOfficeBundle::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesbackoffice/css/admin.css')}}">  

{%endblock%}

{% block aside %}
{% endblock %}

{%block corps%}
{{ parent() }}

<ul class="nav nav-tabs admin">
	<li role="presentation" class="gestion-users active"><a href="">Gestion des utilisateurs</a></li>
	<li role="presentation" class="gestion-acteurs"><a href="">Gestion des acteurs</a></li>
	<li role="presentation" class="gestion-films"><a href="">Gestion des films</a></li>
	<li role="presentation" class="gestion-series"><a href="">Gestion des Séries</a></li>
	<li role="presentation" class="gestion-genres"><a href="">Gestion des Genres</a></li>
	<li role="presentation" class="gestion-relations"><a href="">Gestion des Relations</a></li>
</ul>

<div class="gestion-users list-group">
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Modifier un utilisateur</a>
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Supprimer un utilisateur</a>
</div>

<div class="gestion-acteurs list-group">
	<a href="{{ path('movies_back_office_addActeur') }}" class="list-group-item">Ajouter un acteur</a>
	<a href="{{ path('movies_actor_homepage') }}" class="list-group-item">Liste
    des acteurs</a>
</div>
<div class="gestion-films list-group">
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Ajouter un film</a>
	<a href="{{ path('movies_back_office_listMovies') }}" class="list-group-item">Liste des films</a>
</div>

<div class="gestion-series list-group">
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Ajouter une série</a>
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Modifier une série</a>
	<a href="{{ path('movies_back_office_addMovies') }}" class="list-group-item">Supprimer une série</a>
</div>

<div class="gestion-genres list-group">
    <a href="{{ path('movies_back_office_addGenre') }}" class="list-group-item" >Ajouter un genre</a>
    <a class="list-group-item" href="{{path('movies_moviesbundle_listGenre')}}">Liste des genres</a>
</div>

<div class="gestion-relations list-group">
    <a href="{{ path('movies_back_office_addRole')}}" class="list-group-item" >Ajouter une relations</a>
</div>

{%endblock%}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/moviesbackoffice/js/admin.js') }}"></script>
{% endblock %}
