{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesmovies/movies.css')}}"> 

{%endblock%}

{%block title%}{{parent()}} - Administration{%endblock%}

{% block arianne %}
	{{ parent() }}
	<img height="15px" src="{{asset('images/arrow.png')}}"/> <a href="{{ path('movies_back_office_homepage') }}">Administration</a>
{% endblock %}

{%block section%}
<h1>Administration</h1>
<a href="{{ path('movies_back_office_addMovies') }}">Ajouter un film</a><br>
<a href="{{ path('movies_back_office_addActeur') }}">Ajouter un acteur</a>
{%endblock%}
