<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Movies{%endblock%}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('index.css')}}">
        <link rel="stylesheet" href="{{asset('bootstrap-responsive.css')}}">
    {% endblock %}
</head>
<body>
    <header>
    <div id="menu">
        <ul>
            <li class="item"><a href="{{path('movies_moviesbundle_home')}}">Accueil</a></li>
            <li class="item"><a href="{{path('movies_moviesbundle_movies')}}">Cinémas</a></li>
            <li class="item"><a href="{{path('movies_moviesbundle_series')}}">Séries</a></li>
            {% if is_granted('ROLE_ADMIN') %}
            	<li class="item"><a href="{{ path('movies_back_office_homepage') }}">Administration</a></li>
            {% endif %}
            {% if is_granted('ROLE_USER') is empty %}
	            <li class="item"><a href="{{ path('signin') }}">Inscription</a></li>
	            <li class="item"><a href="{{ path('login') }}">Connexion</a></li>
	        {% else %}
	        	
	        	<li class="item"><a href="{{ path('logout') }}">Deconnexion</a></li>
            {% endif %}
        </ul>
    </div>
    </header>
    <div id="arianne">
    {% block arianne %}
    Movies
    {% endblock %}
    </div>

    <section>
       {%block section%}
        {%endblock%}
    </section>
    <footer>
    </footer>
  {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  {% endblock %}
</body>
</html>
