{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
{%endblock%}

{%block title%}{{parent()}} - Administration{%endblock%}


{%block arianne%}
{{parent()}} <img height="15px" src="{{asset('images/arrow.png')}}"/> Administration
{%endblock%}

{%block section%}
	<h2>Administration</h2>
<a href="{{ path('movies_moviesbundle_addMovie') }}">Ajouter un film</a>
	
{%endblock%}
