{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesbackoffice/css/menu.css')}}"> 
<link rel="stylesheet" href="{{asset('css/container.css')}}">
{%endblock%}

{%block title%}{{parent()}} - Administration{%endblock%}

{% block aside %}
	<div class="panel panel-danger">
		<div class="panel-heading">Menu administration</div>
		<div class="list-group">
			<a href="{{ path('movies_back_office_homepage') }}" class="list-group-item">Administration</a>
			<a class="list-group-item" href="{{ path('movies_back_office_addMovies') }}">Ajouter un film</a>
			<a class="list-group-item" href="{{ path('movies_back_office_addActeur') }}">Ajouter un acteur</a>
			<a class="list-group-item" href="{{ path('movies_back_office_addRealisateur') }}">Ajouter un réalisateur</a>
		</div>
	</div>
{% endblock %}

{%block corps%}
<h1>Administration</h1>

{%endblock%}


