{% extends "::layout.html.twig" %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('bundles/moviesmovies/css/films.css')}}">
{% endblock %}

{% block carousel %}
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('{{ asset('images/cha.jpg') }}')"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{ asset('images/2.jpg') }}');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('{{ asset('images/3.jpg') }}');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
{% endblock %}

{% block corps %}
	{% for msg in app.session.flashbag.get('notice') %}
		{% if msg is not empty %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>
				{{ msg }}
			</div>
		{% endif %}
	{% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Les derniers films ajouté
            </h1>
        </div>

        <div class="all-movies">
            {% for key,movie in movies if key < 5%}
                <div class="display-movie">
                    <p><a href="{{ path('movies_moviesbundle_showMovie',
                    {'id':movie.id})}}">{{movie.titre}}</a> 
                    {%if is_granted('ROLE_ADMIN') %}
                       <a href="{{path('movies_back_office_modifyMovie',{'id':movie.id})}}"><img height="30px" src="{{asset('images/edit.png')}}" alt=""/></a>
                       {%endif%}
                       </p>
                    <img  src="{{ asset(movie.image) }}" alt="{{movie.titre}}">
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}
