{% extends "::layout.html.twig" %}

{%block title%}{{parent()}} - Users{%endblock%}


{%block arianne%}
{{parent()}} <img height="15px" src="{{asset('images/arrow.png')}}"/> Users
{%endblock%}

{%block section%}
{% if user is empty %}
<p>Cette utilisateur n'existe pas ! {{ id }}</p>
{% else %}
	<h2>{{ user.pseudo }}</h2>
{% endif %}
	
{%endblock%}
