{% extends "::layout.html.twig" %}

{%block stylesheets %}
    {{parent()}}
<link rel="stylesheet" href="{{asset('bundles/moviesusers/form.css')}}">
{%endblock%}

{%block title%}{{parent()}} - Users{%endblock%}




{%block arianne%}
{{parent()}} <img height="15px" src="{{asset('images/arrow.png')}}"/> Inscription
{%endblock%}

{%block section%}
	<h2>Inscription</h2>
<div class="well">
  {{ form_start(form) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.nom, "Nom") }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.nom) }}
        {# Génération de l'input. #}
      {{ form_widget(form.nom) }}
      
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.prenom, "Prenom") }}
      {{ form_errors(form.prenom) }}
        {{ form_widget(form.prenom) }}
    </div>
    
    <div class="form-group">
      {{ form_label(form.pseudo, "Pseudo") }}
      {{ form_errors(form.pseudo) }}
        {{ form_widget(form.pseudo) }}
    </div>
    
    <div class="form-group">
      {{ form_label(form.password, "Password") }}
      {{ form_errors(form.password) }}
        {{ form_widget(form.password) }}
    </div>
    
    <div class="form-group">
      {{ form_label(form.email, "Email") }}
      {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    
    <div class="form-group">
      {{ form_label(form.avatar, "Avatar") }}
      {{ form_errors(form.avatar) }}
        {{ form_widget(form.avatar) }}
    </div>
    
    {{ form_end(form) }}
</div>
	
{%endblock%}
