{% extends "::layout.html.twig" %}

{% block stylesheets %}
       {{ parent() }}
        <link rel="stylesheet" href="{{asset('bundles/moviesuser/form.css')}}">
{% endblock %}

{% block arianne %}
 {{ parent() }} <img height="15px" src="{{asset('images/arrow.png')}}"/> Connexion
{% endblock %}
{% block section %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}
  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
<form class="form-horizontal" action="{{ path('login_check') }}" method="post">
 <div class="form-group">
    <label class="col-sm-1 control-label" for="username">Login</label>
    <div class="col-sm-2">
    	<input class="form-control" type="text" id="username" placeholder="Login" name="_username" value="{{ last_username }}" />
    </div>
    </div>
    
    <div class="form-group">
	    <label class="col-sm-1 control-label" for="password">Password</label>
	    <div class="col-sm-2">
	    	<input class="form-control" type="password" id="password" placeholder="Password" name="_password" />
	    </div>
    </div>
    
    <input class="btn btn-default" type="submit" value="Connexion" />
  </form>
{% endblock %}