{% extends "::layout.html.twig" %}

{% block arianne %}
 	{{ parent() }} <img height="15px" src="{{asset('images/arrow.png')}}"/> Inscription
{% endblock %}
    
{% block section %}

<h1>Inscription</h1>

{{ form_start(form,{'attr': {'class': 'form-horizontal'}}) }}
	<div class="form-group">
	      {# Génération du label. #}
	      {{ form_label(form.username, "Username", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
	
	      {# Affichage des erreurs pour ce champ précis. #}
	      {{ form_errors(form.username) }}
		<div class="col-sm-2">		
	      {{ form_widget(form.username,{'attr': {'class': 'form-control'}}) }}
	    </div>
    </div>
	
	<div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.password, "Password",{'label_attr': {'class': 'col-sm-1 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.password) }}
		<div class="col-sm-2">
      		{{ form_widget(form.password,{'attr': {'class': 'form-control'}}) }}
      	</div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.email, "Email",{'label_attr': {'class': 'col-sm-1 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.email) }}
		<div class="col-sm-3">
      		{{ form_widget(form.email,{'attr': {'class': 'form-control'}}) }}
      	</div>
    </div>
    <div class="form-group">
    	<div class="col-sm-offset-0 col-sm-10">
    		{{ form_widget(form.inscrire,{'attr': {'class': 'btn btn-default'}}) }}
    	</div>
    </div>
{{ form_end(form) }}

{% endblock %}