{% extends "::layout.html.twig" %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('bundles/moviesmovies/css/films.css')}}">
        <link rel="stylesheet" href="{{asset('css/jquery.flipster.css')}}">
{% endblock %}
{% block carousel %}
    <!-- Header Carousel -->
    <header class="carousel">
        <div class="coverflow">
            <ul>
                <li>
                    <div><img width="120px" src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
                <li>
                    <div><img
                    src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
                <li>
                    <div><img
                    src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
                <li>
                    <div><img
                    src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
                <li>
                    <div><img
                    src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
                <li>
                    <div><img
                    src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
                <li>
                    <div><img
                    src="{{asset('uploads/poster/18876909.jpg-r_160_240-b_1_D6D6D6-f_jpg-q_x-xxyxx.jpg')}}" alt=""></div>
                </li>
            </ul>
        </div>
    </header>
{%endblock%}

{% block corps %}
    <div class="row">
        <h1>Les films</h1>
        <div class="all-movies">
            {% for movie in movies %}
                <div class="display-movie">
                    <h3><a href="{{ path('movies_moviesbundle_showMovie', {'id':movie.id})}}">{{movie.titre}}</a></h3>
                    <img  src="{{ asset(movie.image) }}" alt="{{movie.titre}}">
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/jquery.flipster.min.js')}}"></script>
    <script src="{{asset('bundles/moviesmovies/js/flipster.js')}}"></script>
{% endblock %}
