{% extends "::layout.html.twig" %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('bundles/moviesmovies/css/films.css')}}">
        <link rel="stylesheet" href="{{asset('css/jquery.flipster.css')}}">
{% endblock %}
{% block carousel %}
    <!-- Header Carousel -->
    <header class="carousel">
        <div class="coverflow">
            <ul>
            {% for movie in movies %}
                <li>
                    <div><a href="{{ path('movies_moviesbundle_showMovie',{'id':movie.id})}}"><img src="{{asset(movie.image)}}" alt="{{movie.titre}}"></a></div>
                </li>
            {%endfor%}
            </ul>
        </div>
    </header>
{%endblock%}

{% block corps %}
    <div class="row">
        <h1>Les films</h1>
        <div class="all-movies">
            {% for movie in movies %}
                <div class="display-movie">
                    <h3><a href="{{ path('movies_moviesbundle_showMovie', {'id':movie.id})}}">{{movie.titre}}</a></h3>
                    <img  src="{{ asset(movie.image) }}" alt="{{movie.titre}}">
                </div>
            {%endfor%}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/jquery.flipster.min.js')}}"></script>
    <script src="{{asset('bundles/moviesmovies/js/flipster.js')}}"></script>
{% endblock %}
