{% extends "MoviesMoviesBundle::layout.html.twig" %}
{% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{asset('bundles/moviesmovies/css/films.css')}}">
{% endblock %}

{% block corps %}
	{% for msg in app.session.flashbag.get('notice') %}
		{% if msg is not empty %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>
				{{ msg }}
			</div>
		{% endif %}
	{% endfor %}

    <h1>{{movie.titre}}</h1>
    {%if is_granted('ROLE_ADMIN')%}
    <a href="{{path('movies_back_office_modifyMovie',{'id':movie.id})}}">Modifier</a> <br>
    {%endif%}
    <div class="movie-details">
        <img src="{{asset(movie.image)}}" alt="">

    </div>
    <div class="details">
        Sortie : {{movie.dateRelease | localizeddate('full','none',"fr") }}<br>
        Réalisateur :
        <a href="{{path('movies_actor_showActor', {'id': movie.realisateur.id})}}">{{movie.realisateur.nomComplet}}</a>
        <br>
        Avec : 
        {% for key,role  in roles if key < 3%}
            <a
            href="{{path('movies_actor_showActor',{'id':role.acteur.id})}}">{{role.acteur.nomComplet}}</a>{%if
            key < 2%},{%endif%}
        {%endfor%}
        <br>
        Genre :
        {% for key,genre in movie.genres  %}
            {{genre.nom}}{% if key != loop.length-1 %},{%endif%}
        {% endfor %}
    </div>

        <h2>Synopsys</h2>
        <p>{{movie.synopsis}}</p>
    <h2>Acteurs</h2>
        {%for key,role in roles if key < 6%}
            <div class="actor">
                <img height="200px" src="{{asset(role.acteur.image)}}" alt=""/>
                <a href="{{path('movies_actor_showActor',
                {'id':role.acteur.id})}}">{{role.acteur.nomComplet}}</a><br>
                <em>({{role.role}})</em>
            </div>
        {%endfor%}
        <br><br>
        <table class="table table-striped table-hover">
            <tr>
                <th>Role</th>
                <th>Acteur</th>
            </tr>
            {%for key,role in roles if key >= 6%}
            <tr>
                <td>{{role.role}}</td>
                <td><a href="{{path('movies_actor_showActor', {'id':role.acteur.id})}}">{{role.acteur.nomComplet}}</a></td>
            </tr>
            {%endfor%}
        </table>
{% endblock %}
