{% extends "MoviesBackOfficeBundle::layout.html.twig" %}

{%block title%}{{parent()}} - Ajouter un film{%endblock%}

{%block corps%}

	{% for msg in app.session.flashbag.get('notice') %}
		{% if msg is not empty %}
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
				</button>
				{{ msg }}
			</div>
		{% endif %}
	{% endfor %}

	<h1>Gestion des films</h1>
	<p>Si les acteurs de votre films ne sont pas présent, veuillez avant tous les <a href="{{ path('movies_back_office_addActeur') }}">ajouter</a> !</p>

 {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="form-group">
      {# Génération du label. #}
      	{{ form_label(form.titre, "Titre",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      	{{ form_errors(form.titre) }}
	 	<div class="col-sm-3">
      		{{ form_widget(form.titre,{'attr': {'class': 'form-control'}}) }}
      	</div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}
      	{{ form_label(form.realisateur, "Realisateur",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      	{{ form_errors(form.realisateur) }}
	 	<div class="col-sm-3">
      		{{ form_widget(form.realisateur,{'attr': {'class': 'selectpicker', 'data-live-search':'true', 'title':'Selectionner le réalisateur'}}) }}
      	</div>
    </div>

     <div class="form-group">
      {# Génération du label. #}
      	{{ form_label(form.acteurs, "Acteurs",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      	{{ form_errors(form.realisateur) }}
	 	<div class="col-sm-3">
      		{{ form_widget(form.acteurs) }}
      	</div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}       
	  {{ form_label(form.duration, "Durée",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
	      {# Affichage des erreurs pour ce champ précis. #}
	      	{{ form_errors(form.duration) }}
		 	<div class="col-sm-2">
			 	<div class="input-group">
				 	<div class="input-group-addon">min</div>
			      		{{ form_widget(form.duration,{'attr': {'class': 'form-control'}}) }}
			    </div>
	      	</div>
    </div>

    <div class="form-group">
      {# Génération du label. #}
      	{{ form_label(form.genres, "Genres",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
    	  {{ form_errors(form.genres) }}
		<div class="col-sm-3">
      		{{ form_widget(form.genres) }}
      	</div>
    </div>
    
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.synopsis, "Synopsis", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.synopsis) }}
	  <div class="col-sm-3">
      	{{ form_widget(form.synopsis,{'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    
     <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.dateRelease, "Date de sortie",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.dateRelease) }}
		<div class="col-sm-3">
    		  {{ form_widget(form.dateRelease, {'attr' : {'class' : 'form-control'}}) }}
    	</div>
    </div>
    
     <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.file, "Affiche",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.file) }}
		<div class="col-sm-3">
      		{{ form_widget(form.file, {'attr' : {'title' : 'Parcourir...'}}) }}
      	</div>
    </div>
    <div class="form-group">
       	<div class="col-sm-3 col-md-offset-2">
      		{{ form_widget(form.Ajouter, {'attr' : {'class' : 'btn btn-default'}}) }}
      	</div>
    </div>
{{ form_end(form) }}
 
{%endblock%}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/moviesbackoffice/js/multiselect.js') }}"></script>
    <script src="{{ asset('bundles/moviesbackoffice/js/addRole.js') }}"></script>
{% endblock %}
